# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2025-2026, Infineon Technologies AG, or an affiliate of
# Infineon Technologies AG. All rights reserved.

# Configuration script for PSOC Control C3 family of microcontrollers
# Series: PSC3x6

set SERIES psc3
set TARGET_VARIANT PSC3M6

# Set device to "p6"
# "p6" is valid PSC3x6 mpns
if { ![info exists DEVICE] } {
	set DEVICE p6
}

# Set default board to generic
if { ![info exists BOARD] } {
	set BOARD generic
}

source [find target/infineon/cat1b/base_psc3.tcl]
