# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2025-2026, Infineon Technologies AG, or an affiliate of
# Infineon Technologies AG. All rights reserved.

# Configuration script for PSOC Control C3 family of microcontrollers
# Series: PSC3x8 with 2 additional Cortex-M33 cores

set SERIES psc3
set TARGET_VARIANT BOY4
set PPCA_CORE_NUM 2

# Set default device to p8
# "p8" will now represent common algo for PSC3x7/PSC3x8 mpns
if { ![info exists DEVICE] } {
	set DEVICE p8
}

# Set default board to generic
if { ![info exists BOARD] } {
	set BOARD generic
}

source [find target/infineon/cat1b/base_psc3.tcl]
